.guide {
  display: flex;
  margin-left: 144px;
  width: 1152px;
  height: 477px;
  background: #f2dce4;
  border-radius: 8px;
}
.guide_title {
  display: block;
  width: 420px;
  margin: 132px 96px 129px 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: 0.4px;
  color: #013a4c;
}
.guide_img {
  width: 576px;
  height: 477px;
}
.guide_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  padding-left: 144px;
  padding-top: 24px;
  width: 1152px;
}
.guide_cards_card_first {
  background: #013a4c;
  border-radius: 8px;
  height: 444px;
}
.guide_cards_card_first_content {
  background: url(../img/guide_card1.png);
  border-radius: 8px;
  width: 368px;
  height: 207px;
  background-size: cover;
}
.guide_cards_card_first_content_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #ffffff;
  padding-top: 18px;
  padding-left: 24px;
  width: 297px;
}
.guide_cards_card_second {
  background: #013a4c;
  border-radius: 8px;
}
.guide_cards_card_second_content_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-top: 107px;
}
.guide_cards_card_third {
  background: #f2dce4;
  border-radius: 8px;
}
.guide_cards_card_third_content {
  background: url(../img/guide_card2.png);
  width: 368px;
  height: 207px;
  background-size: cover;
}
.guide_cards_card_third_content_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #013a4c;
  margin-top: 18px;
  margin-left: 24px;
}
