.trick {
  display: flex;
  margin-top: 340px;
  margin-bottom: 75px;
  padding-left: 144px;
}
.trick_title {
  padding-right: 492px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: 0.4px;
  color: #013a4c;
}
