.events {
  width: 895px;
  margin-left: 487px;
  margin-bottom: 54px;
}
.events_bgd {
  margin-left: -500px;
}
.events_bgd_img {
  position: absolute;
  width: 528px;
  height: 304px;
  z-index: -1;
}
.events_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 163.47%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
  margin-left: -250px;
  margin-top: 30px;
  width: 457px;
}
.events_title {
  width: 366px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 109.47%;
  letter-spacing: -0.03em;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .events {
    width: 400px;
    margin-left: 380px;
  }
  .events_bgd {
    display: none;
  }
  .events_text {
    margin-top: 150px;
    margin-left: -110px;
  }
  .events_title {
    margin-top: -350px;
    margin-left: -110px;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .events {
    width: 400px;
    margin-left: 380px;
  }
  .events_bgd {
    display: none;
  }
  .events_text {
    margin-top: 150px;
    margin-left: 10px;
  }
  .events_title {
    margin-top: -350px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .events {
    width: 400px;
    margin-left: 380px;
  }
  .events_bgd {
    display: none;
  }
  .events_text {
    margin-top: 150px;
    margin-left: 10px;
  }
  .events_title {
    margin-top: -350px;
  }
}
